<!DOCTYPE html>
<html ng-app='appModule'>
  <head>
    <meta charset="utf-8">

    <script src="scripts/angular.min.js"></script>
    <script src="scripts/app1.js"></script>

    <!-- <script src ="styles/bootstrap.min.css"/> -->
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <title>Assignmet1</title>
  </head>

  <body>
      <h1>Lunch box validator</h1>

      <div  ng-controller='LunchCheckController'
            class="form-group">
        <input ng-model="text"
                type="text" size="80"
                placeholder="list comma separated dishes you usually have for lunch"
                class="form-control">
        <br>
        <button ng-click="validate()"
                 class="btn btn-default"
                 >check lunch list</button>
        <br>
        {{outputMessage}}
        {{txt1}}<br>
        {{txt2 | uppercase}}<br>
        {{num1}}<br>

        -- custom filters:
        <br>
        {{filterVal}} <br>
        {{filterVal2}} <br> 
        {{"hello" | custom}}
      </div>
  </body>
</html>
